@import url('http://fonts.cdnfonts.com/css/tt-norms-pro');                


h2 {
    font-family: 'TT Norms Pro', sans-serif; 
    font-weight: 400;
    font-size: 20px;display: inline-block;
    background-position-y: -0%;
    background-image: linear-gradient( transparent 50%, #9500ff 50%);
    transition: background .3s ease;
    background-size: 2px;
    background-size: auto 175%;
    text-decoration: none;
    font-weight: 600;
   }
   @media (min-width: 992px) {
    .fancy__underline a:hover, .fancy__underline span:hover {
       background-position-y: 100%;
    }
}

a {
    text-decoration: none;
    color: white;
}

p {
    font-family: 'TT Norms Pro', sans-serif;
    font-size: 15px;
    line-height: 20px;
    padding-top: 10px;
    color: white;
}

